<%- include ../partials/header.ejs %>
<div class="edit-proj-hdr">
    <h4 class="show-lock-h4"><%= project.name %></h4>
    <button class="btn approval-btn orange">Needs Approval</button>
</div>

<% project.pendingVersion.content = project.pendingVersion.content.replace(/##/, '<span style="color:red">'); %>
<% project.pendingVersion.content = project.pendingVersion.content.replace(/###/, '</span>'); %>

<p class="white locked-display content-display"><%- project.pendingVersion.content %></p>

<!-- below code activates approval button if current user is included in project but not in approvals -->
<% if (JSON.stringify(project.users).includes(JSON.stringify(user.id)) && !JSON.stringify(project.approvals).includes(JSON.stringify(user.id))) { %>
<br>
<a href="/projects/<%= project.id %>/approve" class="btn">Approve Edit</a>
<a href="/projects/<%= project.id %>/reject" class="btn red">Reject Edit</a>
<% } %>

<h4>Current collaborators:</h4>
<ul>
    <% project.users.forEach(function(u){ %>
    <li>
        <%= u.name %>, <%= u.email %>
    </li>
    <% }); %>
</ul>

<% if (JSON.stringify(project.users).includes(JSON.stringify(user.id)))  {%>
<a class="btn" href="/projects/<%= project._id %>/search">Invite collaborators</a>
<% } %>

<%- include ../partials/footer.ejs %>