<%- include ../partials/header.ejs %>
<div class="proj-name-hdr">
    <div class="proj-name-hdr-left">
        <h2 class="proj-title"><%= project.name %></h2>
    </div>
    <div class="proj-name-hdr-right">
        <button class="dropdown-trigger btn btn-spcr" data-target="prev-vers-dropdown">View All Previous Versions
            <i class="material-icons right">arrow_drop_down</i></button>
        <ul id="prev-vers-dropdown" class="dropdown-content">
            <% project.versions.sort(function(a, b){ %>
            <% return b.createdAt - a.createdAt; %>
            <% }) %>
            <% project.versions.forEach(function(version, idx){ %>
            <% let approval; %>
            <% if (version.approved === true) { %>
            <% approval = 'check' %>
            <% } else { %>
            <% approval = 'clear' %>
            <% } %>
            <li><a href="/projects/<%= project.id %>/versions/<%= idx %>">
                    <%= version.createdAt.toLocaleDateString() + " " +  version.createdAt.toLocaleTimeString() + " "%>
                    <i class="material-icons right"><%- approval %></i>
                </a>
            </li>
            <% }) %>
        </ul>
        <!-- Modal Trigger -->
        <a class="btn modal-trigger red btn-spcr" href="#remove">Remove
            <i class="material-icons right">delete</i>
        </a>
        <!-- Modal Structure -->
        <div id="remove" class="modal">
            <div class="modal-content black remove-modal">
                <p>Remove this item from your projects list? This action cannot be undone.</p>
                <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                    <button class="btn red" href="/projects/<%= project._id %>/delete">Yes, Remove this from My Projects</button>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat">Return</a>
            </div>
        </div>
        <!-- end modal -->
    </div>
</div>



<form action="/projects/<%= project.id %>" method="POST">
    <textarea class="materialize-textarea white large-textarea"
        name="content"><%= project.getCurrentVersion().content %></textarea>
    <br>

    <div class="bottom-container">
        <div class="bottom-container-left">
            <p class="version-name">Current Version</p>
        </div>
        <div class="bottom-container-right">
            <input class="btn" type="submit" value="Submit Edit">
        </div>


    </div>



</form>


<h2 class="collab">Collaborators:</h2>
<ul>
    <% project.users.forEach(function(user){ %>
    <li>
        <%= user.name %>, <%= user.email %>
    </li>
    <% }); %>
</ul>


<a class="btn" href="/projects/<%= project._id %>/search">Add new collaborator</a>

<%- include ../partials/footer.ejs %>