<%- include ../partials/header.ejs %>


<h4><%= project.name %></h4>
<form action="/projects/<%= project.id %>" method="POST">
    <textarea class="content-display white" cols="30" rows="10" name="content"><%= project.getCurrentVersion().content %></textarea>
    <br>
    <button class="btn" type="submit">Submit Edit</button>
</form>
    

<h4>Current collaborators:</h4>
<ul>
    <% project.users.forEach(function(user){ %>
    <li>
        <%= user.name %>, <%= user.email %>
    </li>
    <% }); %>
</ul>

<% if (JSON.stringify(project.users).includes(JSON.stringify(user.id)))  {%>
<a class="btn" href="/projects/<%= project._id %>/search">Add new collaborator</a>
<% } %>

<%- include ../partials/footer.ejs %>