<%- include ../partials/header.ejs %>

<div class="proj-name-hdr">
    <h2 class="proj-title"><%= project.name %></h2>

    <button class="dropdown-trigger btn hdr-btn" data-target="prev-vers-dropdown">View All Previous Versions 
        <i class="material-icons right">arrow_drop_down</i></button>
    <ul id="prev-vers-dropdown" class="dropdown-content">
        <li><a href="/projects/<%= project.id %>">Current Version</a></li>
        <% project.versions.sort(function(a, b){ %>
        <% return b.updatedAt - a.updatedAt; %>
        <% }) %>
        <% project.versions.forEach(function(version, idx){ %>
        <% let approval; %>
        <% if (version.approved === true) { %>
        <% approval = 'check' %>
        <% } else { %>
        <% approval = 'clear' %>
        <% } %>
        <li><a href="/projects/<%= project.id %>/versions/<%= idx %>">
                <%= version.createdAt.toLocaleDateString() + " " +  version.createdAt.toLocaleTimeString() + " "%>
                <i class="material-icons right"><%- approval %></i>
            </a></li>
        <% }) %>
    </ul>
</div>


<form action="/projects/<%= project.id %>" method="POST">
    <textarea readonly class="materialize-textarea white large-textarea"
    name="content"><%= version.content %></textarea>
</form>

<p class="version-name">Version: <%= version.createdAt.toLocaleDateString() + " " +  version.createdAt.toLocaleTimeString() %></p>


<h2 class="collab">Collaborators:</h2>
<ul>
    <% project.users.forEach(function(user){ %>
    <li>
        <%= user.name %>, <%= user.email %>
    </li>
    <% }); %>
</ul>


<% if (JSON.stringify(project.users).includes(JSON.stringify(user.id)))  {%>
<a class="btn" href="/projects/<%= project._id %>/search">Add new collaborator</a>
<% } %>

<%- include ../partials/footer.ejs %>